:root {
    height: 100vh;
    background-image: url("../assets/star-transparent.png"),
      linear-gradient(90deg, rgb(12, 64, 77) 0%, rgba(25, 11, 34, 0.842) 100%);
    background-position: center;
  }

body {
    height: 100vh;
    margin: 0;
    display: grid;
}

header {
    text-align: center;
    margin-bottom: 3rem;

    h1 {
        font-size: 5rem;
    }

    .long-arrow-left {
        display: block;
        margin: 30px auto;
        width: 25px;
        height: 25px;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
    }

    .long-arrow-left{
        transform: rotate(-45deg);
    }

    .long-arrow-left::after {
        content: "";
        display: block;
        width: 2px;
        height: 45px;
        background-color: black;
        transform: rotate(-45deg) translate(15px, 4px);
        left: 0;
        top: 0;
    }

    .long-arrow-left:hover {
        cursor: pointer;
    }
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .cards {
        display: grid;
        grid-column: 2 / 6;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    
        .card {
            box-shadow: 3px 4px 4px 0px #00000040;
            grid-column: span 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            background-color: white;

            h1 {
                width: 100%;
                text-align: center;
            }

            figure {
                margin: 0;
                grid-column: span 4;
                background-size: cover;
                background-position: center;
                text-align: center;

                img {
                    width: 100%;
                    aspect-ratio: 1;
                }
            }

            .latin {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 1rem;
            }

            .trash-icon {
                display: block;
                grid-column-start: 4;
                justify-self: flex-end;
                margin-right: 1rem;

                img {
                    width: fit-content;
                    padding: 0;
                }
            }

            .trash-icon:hover {
                cursor: pointer;
            }

            .navigate:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}

footer {
    height: 4rem;
}