
header {
    padding: 5rem;
}

.sun {
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    background-color: rgb(255, 208, 41);
}

body {
  background: linear-gradient(90deg, rgba(12, 22, 77, 1) 0%, rgba(25, 11, 34, 1) 100%);
}

main {
  padding: 20px;
  text-align: center;
  background: 20%;
  border-radius: 8px;
  max-width: 800px;
  margin: 20rem auto; /* Reduced margin for better spacing */

}

main h1 {
  font-size: 2.5em;
  margin-bottom: 2rem; /* Adjusted margin for better spacing */
  color: #2a14b4;
}

main p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #494b2c;
}