header {
    padding: 5rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.sun {
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    background-color: rgb(255, 208, 41);
}

.planet1 {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: RGB(140, 139, 133);
    align-self: center;
}

.planet2 {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    background-color: RGB(231, 204, 203);
    align-self: center;
}

.planet3 {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-color: RGB(65, 142, 213);
    align-self: center;
}

.planet4 {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: RGB(239, 95, 95);
    align-self: center;
}

.planet4 {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: RGB(239, 95, 95);
    align-self: center;
}