@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Secular+One&display=swap");

:root {
  height: 100vh;
  background-image: url("../assets/star-transparent.png"),
    linear-gradient(90deg, rgba(12, 22, 77, 1) 0%, rgba(25, 11, 34, 1) 100%);
  background-position: center;
}

h1 {
  font-size: 6rem;
  color: white;
  margin-top: 0;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  margin: 0 0 0.7em 0;
  color: #ffd029;
  font-family: "Lora", serif;
  font-weight: 400;
  letter-spacing: 1rem;
}

h5 {
  font-size: 1.5rem;
  margin: 1em 0;
  color: white;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.5rem;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
  width: 45vw;
  height: 100%;
  position: relative;
}

.planet-image {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 50%;
  transform: translateX(-100%);
  .planet-image_1 {
    position: absolute;
    top: 50%;
    left: -70%;
    height: 150%;
    width: 150%;
    background-color: #428ed40f;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .planet-image_2 {
    position: absolute;
    top: 50%;
    left: -80%;
    height: 150%;
    width: 150%;
    background-color: #428ed41a;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .planet-image_3 {
    position: absolute;
    top: 50%;
    left: -90%;
    height: 150%;
    width: 150%;
    background-color: #428ed4;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.planet-home {
  position: fixed;
  height: 5%;
  width: 5%;
  left: 17%;
  top: 7%;
}

.planet-container {
  padding: 10% 0;
}

.planet-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.planet-favourite {
  display: flex;
  justify-content: center;
  .planet-favourite_button {
    background-color: #428ed4;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
  }
}
ul {
  padding: 0;
}
li {
  font-size: 1.5rem;
  color: white;
  list-style: none;
}
